<section id="search-bar">
	<div class="container">
		<div class="row navigation">
			<div class="two columns">
				<h5 id="logo">Run to Food</h5>
			</div>
			<div class="ten columns">
				<select id="city">
					<option value="">City</option>
					<option value="1">New York City</option>
					<option value="2">Copenhagen</option>
					<option value="3">San Francisco</option>
				</select>
				<input type="text" id="address" placeholder="address">
				<input type="text" id="food" placeholder="food">
				<input type="text" id="distance" placeholder="distance">
				<input type="submit" value="Search" id="searcher">
			</div>
		</div>
	</div>
</section>

<section id="search-results">
	<div class="container">
		<ul id="routes"></ul>
	</div>
</section>
