<h1>Run to Food</h1>
<form action="/" method="post">
	<input type="text" name="city" value="City">
	<input type="text" name="location" value="Starting Location">
	<input type="text" name="food" value="Food">
	<input type="text" name="distance" value="Run Distance">
	<input type="submit" value="Search">
</form>
