<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Run To Food</title>

	<!-- FONT
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<!-- <link href='http://fonts.googleapis.com/css?family=Lato:300,900,900italic,300italic' rel='stylesheet' type='text/css'> -->
	<script src="//use.typekit.net/btp7mui.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

	<!-- CSS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="stylesheet" href="/stylesheets/normalize.css">
	<link rel="stylesheet" href="/stylesheets/skeleton.css">
	<link rel="stylesheet" href="/stylesheets/nprogress.css">
	<link rel="stylesheet" href="/stylesheets/styles.css">

	<!-- TEMPLATES
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script type="text/template" id="header-template">
		<div class="row">
			<h5>We found <span class="bold"><%%= count %></span> results for your search:<br>
			Starting point: <span class="bold"><%%= address %></span>  |  Distance: <span class="bold"><%%= distance %></span> miles  |  Food: <span class="bold"><%%= food %></span></h5>
		</div>
	</script>


	<script type="text/template" id="route-template">
			
	<div class="row">
	<div class="four columns basic-info">
		<h3 class="bold display"> <a href="<%%= route.url %>" class="rest-name"><%%= route.name %> </a><h3>
		<h5 class="map-distance">Distance: </h5>
			<h5>Rating: <%%= route.rating %></h5>
			<h5>Address:</h5>
			<%% _.each( route.address, function(addressLine){ %>
			<h6 class="address-text"><%%= addressLine %></h6>
			<%% }); %>

			<div class="transit-info">
				<%% if ( route.transit_directions ){ %>
				<div class="transit">
					<button class="transit-toggle">Public Transit Back</button>
					<div class="transit-details">
						<h6>Duration: <%%= route.transit_directions.legs.duration %></h6>
						<ol>
							<%% _.each(route.transit_directions.legs.steps, function( step ){%>
							<li>
								<%%= step.html_instructions %>
								<%% if( step.transit_details ){ %>
								Train: <%%= step.transit_details.short_name %> (<%%= step.transit_details.name %>)
								<%% }; %>
							</li>
							<%% }); %>
						</ol>
					</div>
				</div>

				<%% }; %>
			</div>

		</div>

		<div class="map-container">
			<div class="seven columns offset-by-one map"></div>
		</div>

		
	</div>
	<hr/>


	</script>

	<!-- JAVASCRIPTS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script src='/javascripts/jquery.js'></script>
	<script src='/javascripts/underscore.js'></script>
	<script src='/javascripts/nprogress.js'></script>
	<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAiUC5T9D-52bOtfYGD8ZrD4rlFX0hjr8U'></script>
	<script src='/javascripts/backbone.js'></script>
	<script src='/javascripts/backbone_app/views.js'></script>
	<script src='/javascripts/backbone_app/models.js'></script>
	<script src='/javascripts/backbone_app/collections.js'></script>
	<script src='/javascripts/main.js'></script>


</head>
	<body>
		<header class="header-down">
			<div class="logo">
				<h3><span class="bold italic">RUN</span><span class="light italic">TO</span><span class="italic bold">FOOD</span></h3>
			</div>
			<div class="search-bar">
				
				<select id="city">
						<option value="">City</option>
						<option value="1">New York City</option>
						<option value="2">Copenhagen</option>
						<option value="3">San Francisco</option>
				</select>
				<input type="text" id="address" placeholder="starting point">
				<input type="text" id="distance" placeholder="distance in miles">
				<input type="text" id="food" placeholder="desired food (i.e. 'bagels')">
				<input type="submit" value="Search" id="searcher">
			</div>
		</header>

		<div id="main-illustration" class="slideRight">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="329px"
			height="325.395px" viewBox="0 0 329 325.395" enable-background="new 0 0 329 325.395" xml:space="preserve">
			<g id="Layer_2">
				<g>
					<polygon fill="#2EB29E" points="170.182,18.227 88,5.662 88,319.641 169.915,307.168 171,307.349 171,18.088 		"/>
					<polygon fill="#1A8271" points="87.326,5.572 11,18.227 11,307.168 86.717,319.822 88,319.641 88,5.662 		"/>
					<path fill="#1A8271" d="M255.943,5.572L171,18.088v289.26l83.211,12.474C253.248,265.606,255.663,52.112,255.943,5.572z"/>
					<path fill="#2EB29E" d="M255.98,5.572c0,0-2.677,260.034-1.714,314.25l0,0L329,307.168V18.227L255.98,5.572z"/>
				</g>
				<polygon fill="none" stroke="#FFFFFF" stroke-width="11" stroke-miterlimit="10" points="323.5,307.168 250.472,319.822 
				167.564,307.168 82.734,319.822 5.5,307.168 5.5,18.227 83.875,5.572 167.827,18.227 251.631,5.572 323.5,18.227 	"/>
				<path fill="none" stroke="#CCAB34" stroke-width="10.6706" stroke-miterlimit="10" d="M253.745,110.411v38.859
				c0,14.534-11.784,26.32-26.321,26.32h-6.402c-14.535,0-27.031,11.784-27.031,26.321c0,14.534-11.785,26.32-26.321,26.32
				s-26.677-11.786-26.677-26.32v-64.024c0-14.536-12.14-26.321-26.677-26.321s-26.677,11.785-26.677,26.321v89.634"/>
				<g>
					<path fill="#4DCEB8" d="M72.344,254.908c0,8.447,8.893,15.296,15.295,15.296v-30.591
					C81.236,239.613,72.344,246.462,72.344,254.908z"/>
					<path fill="#5BFFE6" d="M87.639,239.613v30.591c8.537,0,15.294-6.849,15.294-15.296
					C102.933,246.462,96.175,239.613,87.639,239.613z"/>
				</g>
				<g>
					<path fill="#4DCEB8" d="M238.631,85.6c0,8.447,8.894,15.295,15.296,15.295V70.305C247.524,70.305,238.631,77.153,238.631,85.6z"/>
					<path fill="#5BFFE6" d="M253.927,70.305v30.591c8.536,0,15.293-6.849,15.293-15.295C269.22,77.153,262.463,70.305,253.927,70.305z
					"/>
				</g>
			</g>
			<g id="Layer_1">
			</g>
		</svg>
	</div>

		<section id="search-results">
			<div class="container">
				<div id="header"></div>
				<div class="route-results" id="routes"></div>
				<div id="footer">
					<p>Restaurant information on this application is served from the YELP API. Map and direction information on this application are served from the GOOGLE MAPS Api</p>
				</div>
			</div>
		</section>
	</body>
</html>
