<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Run To Food</title>

	<!-- FONT
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

	<!-- CSS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="stylesheet" href="/stylesheets/normalize.css">
	<link rel="stylesheet" href="/stylesheets/skeleton.css">
	<link rel="stylesheet" href="/stylesheets/styles.css">

	<!-- TEMPLATES
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script type="text/template" id="route-template">
		<div id="search-results">

	<%% _.each( route.businesses, function( business ){ %>
		<div class="row">
			<div class="four columns basic-info">

				<h3> <a href="<%%= business.url %>"><%%= business.name %> </a><h3>
				<h5>Rating: <%%= business.rating %></h5>
				<h5>Address:</h5>
				<%% _.each( business.address, function(addressLine){ %>
					<h6 class="address-text"><%%= addressLine %></h6>
				<%% }); %>

				<div class="transit-info">
				<%% if ( business.transit_directions ){ %>
						<div class="transit">
								<button class="transit-toggle">Public Transit Back</button>
								<div class="transit-details">
									<h6>Duration: <%%= business.transit_directions.legs.duration %></h6>
										<ol>
										<%% _.each(business.transit_directions.legs.steps, function( step ){%>
												<li><%%= step.html_instructions %>
												<%% if( step.transit_details ){ %>
													Train: <%%= step.transit_details.short_name %> (<%%= step.transit_details.name %>)
													<%% }; %></li>
										<%% }); %>
										</ol>
									</div>
								</div>

						<%% }; %>
	      		</div>

						</div>

						<div class="seven columns offset-by-one map">
							<iframe
							height= 350px
							frameborder="0" style="border:0; position: absolute; width: 60%;"
							src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyAqCqasx0y-3U51dTJ6wRJbR66scFNSUN4<%%= business.google_api_input %>&units=imperial">
							</iframe>
						</div>
					</div>
					<hr>
					<%% }); %>
				</div>
			</script>

<!-- JAVASCRIPTS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src='/javascripts/jquery.js'></script>
<script src='/javascripts/underscore.js'></script>
<script src='/javascripts/backbone.js'></script>
<script src='/javascripts/backbone_app/views.js'></script>
<script src='/javascripts/backbone_app/models.js'></script>
<script src='/javascripts/backbone_app/collections.js'></script>
<script src='/javascripts/backbone_app/router.js'></script>
<script src='/javascripts/main.js'></script>


</head>
	<body>
		<div class="container">
			<div class="row">
				<h1 class="logo">RUN TO FOOD</h1>
			</div>
			<div class="row">
				<div class="four columns">
					<select id="city">
						<option value="">City</option>
						<option value="1">New York City</option>
						<option value="2">Copenhagen</option>
						<option value="3">San Francisco</option>
					</select>
					<input type="text" id="address" placeholder="address">
					<input type="text" id="food" placeholder="food">
					<input type="text" id="distance" placeholder="distance">
					<input type="submit" value="Search" id="searcher">
				</div>
				<div class="eight columns landing">
					<img src="images/runtofood-01.png" alt="" />
				</div>
			</div>
		</div>

		<!-- <section id="search-bar">
			<div class="container">
				<div class="row navigation">
					<div class="two columns">
						<h5 id="logo">Run to Food</h5>
					</div>
					<div class="ten columns">
						<select class="city">
							<option value="">City</option>
							<option value="1">New York City</option>
							<option value="2">Copenhagen</option>
							<option value="3">San Francisco</option>
						</select>
						<input type="text" class="address" placeholder="address">
						<input type="text" class="food" placeholder="food">
						<input type="text" class="distance" placeholder="distance">
						<input type="submit" value="Search" class="searcher">
					</div>
				</div>
			</div>
		</section>
 -->
		<section id="search-results">
			<div class="container">
				<ul id="routes"></ul>
			</div>
		</section>
	</body>
</html>
