<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Run To Food</title>

	<!-- FONT
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<!-- <link href='http://fonts.googleapis.com/css?family=Lato:300,900,900italic,300italic' rel='stylesheet' type='text/css'> -->
	<script src="//use.typekit.net/btp7mui.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

	<!-- CSS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="stylesheet" href="/stylesheets/normalize.css">
	<link rel="stylesheet" href="/stylesheets/skeleton.css">
	<link rel="stylesheet" href="/stylesheets/nprogress.css">
	<link rel="stylesheet" href="/stylesheets/styles.css">

	<!-- TEMPLATES
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script type="text/template" id="route-template">
			
		<section class="route">
			<div class="container">
				<div class="row">
					<div class="four columns basic-info">
						<h3 class="bold"> <a href="<%%= route.url %>"><%%= route.name %> </a><h3>
						<h5>Rating: <%%= route.rating %></h5>
						<h5>Address:</h5>
						<%% _.each( route.address, function(addressLine){ %>
							<h6 class="address-text"><%%= addressLine %></h6>
						<%% }); %>

						<div class="transit-info">
						<%% if ( route.transit_directions ){ %>
							<div class="transit">
								<button class="transit-toggle">Public Transit Back</button>
								<div class="transit-details">
									<h6>Duration: <%%= route.transit_directions.legs.duration %></h6>
									<ol>
										<%% _.each(route.transit_directions.legs.steps, function( step ){%>
										<li>
											<%%= step.html_instructions %>
											<%% if( step.transit_details ){ %>
											Train: <%%= step.transit_details.short_name %> (<%%= step.transit_details.name %>)
											<%% }; %>
										</li>
										<%% }); %>
									</ol>
								</div>
							</div>

						<%% }; %>
						</div>

					</div>

					<div class="seven columns offset-by-one map" id="map-<%%= route.response_id %>">
								
					</div>
				</div>
			</div>
			<hr/>
		</section>

	</script>

	<!-- JAVASCRIPTS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script src='/javascripts/jquery.js'></script>
	<script src='/javascripts/underscore.js'></script>
	<script src='/javascripts/nprogress.js'></script>
	<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAcvtz7HRQcQgdiCT4-ZRN46P5B68L5LDk'></script>
	<script src='/javascripts/backbone.js'></script>
	<script src='/javascripts/backbone_app/views.js'></script>
	<script src='/javascripts/backbone_app/models.js'></script>
	<script src='/javascripts/backbone_app/collections.js'></script>
	<script src='/javascripts/main.js'></script>


</head>
	<body>
		<header>
			<div class="search-bar">
				<div class="logo">
					<h3><span class="bold italic">RUN</span><span class="light italic">TO</span><span class="italic bold">FOOD</span></h3>
				</div>
				<select id="city">
						<option value="">City</option>
						<option value="1">New York City</option>
						<option value="2">Copenhagen</option>
						<option value="3">San Francisco</option>
				</select>
				<input type="text" id="address" placeholder="starting point">
				<input type="text" id="food" placeholder="desired food (i.e. 'bagels')">
				<input type="text" id="distance" placeholder="distance in miles">
				<input type="submit" value="Search" id="searcher">
			</div>
		</header>
		
		<section id="search-results">
			<div id="routes"></div>
		</section>
	</body>
</html>
