<h1>Run to Food</h1>
<select id="city">
	<option value="">City</option>
	<option value="10">New York City</option>
	<option value="11">Copenhagen</option>
	<option value="12">San Francisco</option>
</select>
Address: <input type="text" id="address">
Food: <input type="text" id="food">
Distance: <input type="text" id="distance">
<input type="submit" value="Search">

<ul id="routes"></ul>

<script type="text/template" id="route-template">
	<h2>This is the rendered template</h2>
</script>
