/* ------------------------ COLORS  ------------------------ */
body {
  background-color: #5BFFE6;
  font-family: "europa", Verdana, sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  width: 100%; }

.logo {
  position: absolute;
  top: 10px;
  left: 40px;
  width: 250px; }
  .logo h3 {
    display: inline; }

header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  padding: 10px 0;
  display: inline-block;
  background-color: #5BFFE6; }

input[type="email"],
input[type="search"],
input[type="text"],
input[type="password"],
textarea,
select {
  color: #37414a; }

a {
  color: inherit; }

a:hover {
  color: #2EB29E; }

#main-illustration {
  text-align: center;
  margin-top: 200px; }

/* ------------------------ TYPOGRAPHY  ------------------------ */
.bold {
  font-weight: 700; }

.italic {
  font-style: italic; }

.light {
  font-weight: 300; }

.display {
  color: #2EB29E; }

.navigation {
  padding-top: 15px;
  border-radius: 4px;
  background-color: white;
  opacity: 0.8; }

#searcher {
  height: 50px; }

.search-bar {
  float: left;
  position: relative;
  left: 300px;
  top: 6px; }

/* ------------------------ HEADER  ------------------------ */
#header {
  text-align: center;
  padding: 40px 0 10px;
  margin-top: 86px; }

.header-up {
  top: -86px;
  transform: translateY(-100%); }

.header-down {
  transform: translateY(0%); }

input[type="submit"] {
  color: #FFFFFF;
  border: 2px solid #CCAB34; }
  input[type="submit"]:focus {
    border: 2px solid #CCAB34;
    color: inherit; }
  input[type="submit"]:hover {
    border: 2px solid #2EB29E; }

/* ------------------------ RESULTS  ------------------------ */
#search-results {
  display: none; }

.route-results {
  padding: 40px;
  background-color: #FFFFFF;
  color: #555; }

.summary p {
  font-size: 1.5em; }

.address-text {
  line-height: 1;
  display: inline; }

.transit-info {
  margin-top: 50px; }

.transit-details {
  display: none; }

.map {
  height: 400px;
  width: 400px;
  margin: 0;
  padding: 0; }

hr {
  height: 1px;
  background: #5BFFE6;
  padding: 0 40px; }

a.rest-name {
  text-decoration: none;
  border-bottom: 2px solid #FF74FF; }
  a.rest-name:hover {
    border-bottom: 2px solid #2EB29E; }

/*
==============================================
slideRight
==============================================
*/
.slideRight {
  animation-name: slideRight;
  -webkit-animation-name: slideRight;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible; }

@keyframes slideRight {
  0% {
    transform: translateX(-150%); }
  50% {
    transform: translateX(8%); }
  65% {
    transform: translateX(-4%); }
  80% {
    transform: translateX(4%); }
  95% {
    transform: translateX(-2%); }
  100% {
    transform: translateX(0%); } }
@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-150%); }
  50% {
    -webkit-transform: translateX(8%); }
  65% {
    -webkit-transform: translateX(-4%); }
  80% {
    -webkit-transform: translateX(4%); }
  95% {
    -webkit-transform: translateX(-2%); }
  100% {
    -webkit-transform: translateX(0%); } }

/*# sourceMappingURL=styles.css.map */
