$sans-serif: 'Lato', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

/* ------------------------ COLORS  ------------------------ */

$primary: #5BFFE6;
$primarydark: #2EB29E;
$complement: #FF74FF;
$secondary: #CCAB34;
$secondarydark: #B29837;


$maintext: #FFFFFF;
$secondarytext: #37414a;

body{
  background-color: $primary;
  font-family: $sans-serif;
  font-weight: 300;
  color: $maintext;
  width: 100%;
}

.logo{
  width: 250px;
  h3{
    display: inline;
  }
}

header{
  width: 100%;
  padding: 15px 20px 0;
  display: inline-block;
}

input[type="email"],
input[type="search"],
input[type="text"],
input[type="password"],
textarea,
select {
  color: $secondarytext;
}

a{
  color: inherit;
}

a:hover{
  color: $primarydark;
}



/* ------------------------ TYPOGRAPHY  ------------------------ */

.bold{
  font-weight: 900;
}
.italic{
  font-style: italic;
}
.thin{
  font-weight: 300;
}

.navigation{
  padding-top: 15px;
  border-radius: 4px;
  background-color: white;
  opacity: 0.8;
}

.searcher{
  height: 50px;
}

/* ------------------------ RESULTS  ------------------------ */


section.route{
  padding: 75px 0;
}

.summary p{
  font-size: 1.5em;
}

.address-text{
  line-height: 1;
  display: inline;
}

.transit-info{
  margin-top: 50px;
}

.transit-details{
  display: none;
}
